<?xml version="1.0" encoding="UTF-8"?>
  <!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
  <beans>  
    <bean id="POIWPS_WS_Centralized" class="org.geoserver.wps.gs.POI_WS_Centralized"/>
    <bean id="AggregationWPS_WS_Centralized" class="org.geoserver.wps.gs.Aggregation_WS_Centralized"/>
    <bean id="ManagementWPS_WS" class="org.geoserver.wps.gs.Management_WS"/>
  </beans>